#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

# –î–∞–Ω–Ω—ñ –¥–æ –ø—Ä–æ–µ–∫—Ç—É –º–æ–∂–Ω–∞ –∑–Ω–∞–π—Ç–∏ –∑–∞ –ø–æ—Å–∏–ª–∞–Ω–Ω—è–º
https://drive.google.com/file/d/1u3NhwDwd9VO7esPpatbTlrHNwwQlSrCC/view

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [12]:
df.groupby('Branch')['gross income'].sum().sort_values(ascending=False).head(1)

Branch
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

–°–ø–æ—á–∞—Ç–∫—É –ø–æ–¥–∏–≤–∏–º–æ—Å—è –≤ —è–∫–æ–º—É –∂ –º—ñ—Å—Ç—ñ —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º (—Ü–µ –º–æ–∂–µ–º–æ –∑—Ä–æ–±–∏—Ç–∏ –¥–≤–∞–æ–º–∞ —Å–ø–æ—Å–æ–±–∞–º–∏):

In [13]:
index = df.groupby('Branch')['gross income'].sum().sort_values(ascending=False).idxmax()

In [14]:
df[df['Branch'] == index].groupby('City')['gross income'].sum()

City
Naypyitaw    5265.1765
Name: gross income, dtype: float64

In [15]:
df.groupby(['City', 'Branch'])['gross income'].sum().sort_values(ascending=False).head(1)

City       Branch
Naypyitaw  C         5265.1765
Name: gross income, dtype: float64

–¢–µ–ø–µ—Ä –ø–æ–¥–∏–≤–∏–º–æ—Å—è –ø—Ä–æ—Ü–µ–Ω—Ç–Ω–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –¥–æ—Ö–æ–¥—É –ø–æ –≤—Å—ñ–º –º—ñ—Å—Ç–∞–º

In [16]:
df.groupby('City')['gross income'].sum().div(df['gross income'].sum()).sort_values(ascending=False)

City
Naypyitaw    0.342353
Yangon       0.328828
Mandalay     0.328819
Name: gross income, dtype: float64

In [ ]:
–¢–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –ø–æ –∫–æ–∂–Ω–æ–º—É –∑ –º—ñ—Å—Ç:

In [19]:
df.groupby('City')['Invoice ID'].count().sort_values()

City
Naypyitaw    328
Mandalay     332
Yangon       340
Name: Invoice ID, dtype: int64

–Ø–∫ –±–∞—á–∏–º–æ –Ω–µ–º–∞—î –≤–µ–ª—ñ–∫–æ—ó —Ä—ñ–∑–Ω–∏—Ü—ñ –º—ñ–∂ –¥–æ—Ö–æ–¥–æ–º —á–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ –ø–æ –≤—Å—ñ—Ö –º—ñ—Å—Ç–∞—Ö —ñ –Ω–∞–º–µ—î —Å–µ–Ω—Å—É –≤—ñ–¥–∫—Ä–∏–≤–∞—Ç–∏ —â–µ –æ–¥–∏–Ω —Ñ—ñ–ª—ñ–∞–ª –≤ –º—ñ—Å—Ç—ñ Naypyitaw.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [22]:
invoices_by_category = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'Invoice ID', aggfunc = 'count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [27]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. –ì—ñ–ø–æ—Ç–µ–∑–∞ 1: –í–∏–∑–Ω–∞—á–∏–º–æ –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à—ñ –Ω–∞–ø—Ä—è–º–∏ –ø–æ –∫–æ–∂–Ω–æ–º—É –∑ –º—ñ—Å—Ç, —â–æ–± –∑—Ä–æ–∑—É–º—ñ—Ç–∏ —è–∫–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à—ñ–π –ø—Ä–∏–±—É—Ç–æ–∫.

In [35]:
gip1 = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'gross income', aggfunc = 'sum')
gip1

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,872.2435,777.7385,817.2905,599.893,1067.4855,922.5095
B,811.9735,781.5865,724.5185,951.460,835.6745,951.8190
C,903.2845,1026.6700,1131.7550,791.206,661.6930,750.5680

In [37]:
gip1.idxmax(axis = 1)

Branch
A    Home and lifestyle
B     Sports and travel
C    Food and beverages
dtype: object

–ù–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –¥–∞–Ω–Ω–∏—Ö –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –ø—Ä–∏–±—É—Ç–∫—É –º–æ–∂–Ω–∞ –∑–∞–ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –Ω–∞—Å—Ç—É–ø–Ω—É —Å—Ç—Ä–∞—Ç–µ–≥—ñ—é:
1. –û—Ä–≥–∞–Ω—ñ–∑—É–≤–∞—Ç—ñ –∞–∫—Ü—ñ—ó –Ω–∞ —Ç–æ–≤–∞—Ä–∏ –∑ –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó - –∑–Ω–∏–∂–∫–∏ –Ω–∞ —Ç–æ–≤–∞—Ä–∏, –ø–æ–¥–∞—Ä—É–Ω–∫–∏ –∑–∞ –ø–æ–∫—É–ø–∫—É —á–∏ –±–æ–Ω—É—Å–∏ –∑–∞ –æ–±—Å—è–≥ –∫—É–ø—ñ–≤—ñ. –ú–µ—Ç–æ—é —Ü—å–æ–≥–æ —î –ø—Ä–∏–≤–µ—Ä–Ω—É—Ç–∏ —É–≤–∞–≥—É –¥–æ –ø–æ–ø—É–ª—è—Ä–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π, –∑–∞–ª—É—á–∏—Ç–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –¥–æ –ø–æ–∫—É–ø–æ–∫, —Å—Ç–≤–æ—Ä–∏–≤—à–∏ –¥–æ–¥–∞—Ç–∫–æ–≤–∏–π –ø–æ–ø–∏—Ç. –ü–æ–∫—É–ø—Ü—ñ, —è–∫—ñ –ø—Ä–∏–π–¥—É—Ç—å –∑–∞ –∞–∫—Ü—ñ–π–Ω–∏–º–∏ —Ç–æ–≤–∞—Ä–∞–º–∏, –π–º–æ–≤—ñ—Ä–Ω–æ, –∫—É–ø—É–≤–∞—Ç–∏–º—É—Ç—å —ñ –ø—Ä–æ–¥—É–∫—Ü—ñ—é —ñ–Ω—à–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π, –∑–±—ñ–ª—å—à—É—é—á–∏ –∑–∞–≥–∞–ª—å–Ω–∏–π –æ–±—Å—è–≥ –ø—Ä–æ–¥–∞–∂—ñ–≤.
2. –í —Ç–æ–π –∂–µ —á–∞—Å –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —ñ–∑ –º–µ–Ω—à–æ—é –º–∞—Ä–∂–∏–Ω–∞–ª—å–Ω–æ—é –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—Å—Ç—é –ø—Ä–æ–ø–æ–Ω—É—é –Ω–∞—Å—Ç—É–ø–Ω–µ :
    - –≤–ø—Ä–æ–≤–∞–¥–∂–µ–Ω–Ω—è –æ–∫—Ä–µ–º–æ—ó –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–æ—ó —Å—Ç—Ä–∞—Ç–µ–≥—ñ—ó,
    - –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è —è–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ —Ç–∞/–∞–±–æ —Ä–æ–∑—à—Ç—Ä–µ–Ω–Ω—è –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—É,
    - –≤–∏–≥—ñ–¥–Ω—ñ –∫–æ–º–ø–ª–µ–∫—Ç–∏ (—Ç–æ–≤–∞—Ä–∏ –∑ –Ω–∏–∑—å–∫–æ—é –º–∞—Ä–∂–∏–Ω–∞–ª—å–Ω—ñ—Å—Ç—é —É –ø–æ—î–¥–Ω–∞–Ω–Ω—ñ –∑ —Ç–æ–ø–æ–≤–∏–º–∏ —Ç–æ–≤–∞—Ä–∞–º–∏ –ø–æ –ø—Ä–∏–±—É—Ç–∫—É),
    - —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –∫–æ–Ω—Ç–µ–Ω—Ç—É, —è–∫–∏–π –ø—ñ–¥–≤–∏—â—É—î —ó—Ö–Ω—é –ø–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—å (–≤—ñ–¥–µ–æ, –æ–≥–ª—è–¥–∏, —Å–æ—Ü—ñ–∞–ª—å–Ω—ñ –º–µ—Ä–µ–∂—ñ)

–ì—ñ–ø–æ—Ç–µ–∑–∞ 2: –†–æ–∑–≥–ª—è–Ω–µ–º–æ –ø–æ —Ñ—ñ–ª—ñ–∞–ª–∞—Ö –∫–ª—ñ—î–Ω—Ç–∏ —è–∫–æ—ó —Å—Ç–∞—Ç—ñ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –±—ñ–ª—å—à–∏–π –º–∞—Ä–∂–∏–Ω–∞–ª—å–Ω—ñ–π –ø—Ä–∏–±—É—Ç–æ–∫.

In [43]:
gip2 = df.pivot_table(index = 'Branch', columns = 'Gender', values = 'gross income', aggfunc = 'mean')
gip2

Gender     Female       Male
Branch
A       15.755447  14.081193
B       15.557994  14.921394
C       16.502264  15.518490

In [44]:
gip2.idxmax(axis=1)

Branch
A    Female
B    Female
C    Female
dtype: object

–ù–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –¥–∞–Ω–Ω–∏—Ö –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –ø—Ä–∏–±—É—Ç–∫—É –º–æ–∂–Ω–∞ –∑–∞–ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –Ω–∞—Å—Ç—É–ø–Ω—É —Å—Ç—Ä–∞—Ç–µ–≥—ñ—é:
1. –ó–æ—Å–µ—Ä–µ–¥–∂–µ–Ω–Ω—è –Ω–∞ –ø–µ–≤–Ω–∏—Ö –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–∏—Ö –∫–∞–º–ø–∞–Ω—ñ—è—Ö –¥–ª—è –∂—ñ–Ω–æ–∫ - –∞–∫—Ü—ñ—ó —Ç–∞ –∑–Ω–∏–∂–∫–∏ –Ω–∞ —Ü—ñ–∫–∞–≤—ñ –∂—ñ–Ω–∫–∞–º –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤, –∫—Ä–æ—Å - –ø—Ä–æ–¥–∞–∂—ñ(–ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ —Ç–æ–≤–∞—Ä–∏ –∑—ñ —Å—Ö–æ–∂–∏–º–∏ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞–º–∏ –∞–±–æ —É –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö), –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –Ω–∞ –æ—Å–Ω–æ–≤—ñ —ñ—Å—Ç–æ—Ä—ñ“ë –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –≤–ø–æ–¥–æ–±–∞–Ω—å.
2. –û–ø—Ç—ñ–º—ñ–∑–∞—Ü—ñ—è –∞—Å–æ—Ä—Ç—ñ–º–µ–Ω—Ç—É —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è –∂—ñ–Ω–æ–∫ —Ç–∞ –π–æ–≥–æ —Ä–æ–∑—à–∏—Ä–µ–Ω–Ω—è, –∑ –∞–∫—Ü–µ–Ω—Ç–æ–º –Ω–∞ –±—ñ–ª—å—à –º–∞—Ä–∂—ñ–Ω–∞–ª—å–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.
3. –ü–æ–∫—Ä–∞—â–µ–Ω–Ω—è —Å–µ—Ä–≤—ñ—Å—É –¥–ª—è –∂—ñ–Ω–æ–∫ - –Ω–∞–¥–∞–Ω–Ω—è –∑—Ä—É—á–Ω–∏—Ö —É–º–æ–≤ –¥–ª—è —à–æ–ø—ñ–Ω–≥—É, —Ç–∞–∫–∏—Ö —è–∫ –±–µ–∑–∫–æ—à—Ç–æ–≤–Ω–∞ –¥–æ—Å—Ç–∞–≤–∫–∞, –∑—Ä—É—á–Ω—ñ —Å–ø–æ—Å–æ–±–∏ –æ–ø–ª–∞—Ç–∏, –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å –ø–æ–≤–µ—Ä–Ω–µ–Ω–Ω—è —Ç–æ–≤–∞—Ä—É.
4. –ó–±—ñ–ª—å—à–µ–Ω–Ω—è –º–∞—Ä–∂—ñ–Ω–∞–ª—å–Ω–æ–≥–æ –ø—Ä—ñ–±—É—Ç–∫—É –≤—ñ–¥ —á–æ–ª–æ–≤—ñ—á–æ—ó –∞—É–¥—ñ—Ç–æ—Ä—ñ—ó:
   - –§–æ–∫—É—Å—É–≤–∞—Ç–∏—Å—è –Ω–∞ —ñ–Ω—Ç–µ—Ä–µ—Å–∞—Ö —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Ç–∞ —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω—ñ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∫–∞–º–ø–∞–Ω—ñ—ó.
   - –ü–æ–∫—Ä–∞—â–∏—Ç–∏ –¥–æ—Å–≤—ñ–¥ –ø–æ–∫—É–ø–æ–∫ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤, –æ—Ä–≥–∞–Ω—ñ–∑–æ–≤—É—é—á–∏ –∑—Ä—É—á–Ω—ñ —ñ–Ω—Ç–µ—Ä‚Äô—î—Ä–∏ —Ç–∞ –æ–Ω–ª–∞–π–Ω-–ø–ª–∞—Ç—Ñ–æ—Ä–º–∏.
   - –†–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —ñ –ø—Ä–æ–≤–æ–¥–∏—Ç–∏ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –∞–∫—Ü—ñ—ó –¥–ª—è —Ü—ñ—î—ó –≥—Ä—É–ø–∏.

–ì—ñ–ø–æ—Ç–µ–∑–∞ 3: –î–æ—Å–ª—ñ–¥–∏–º–æ, –≤ —è–∫–∏–π —á–∞—Å –¥–æ–±–∏, –∑—Ä–∞–Ω–∫—É, –≤–≤–µ—á–µ—Ä—ñ —á–∏ –≤ –æ–±—ñ–¥, –∫–ª—ñ—î–Ω—Ç–∏ –Ω–∞–π–±—ñ–ª—å—à–µ –∑–¥—ñ–π—Å–Ω—é—é—Ç—å –ø–æ–∫—É–ø–æ–∫.

–ù–∞–ø–∏—à–µ–º–æ —Ñ—É–Ω–∫—Ü—ñ—é, —â–æ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —á–∞—Å—É –≤—ñ–¥–Ω–æ—Å–∏—Ç—å –ø–æ–∫—É–ø–∫–∏ –¥–æ –≤—Ä–∞–Ω—ñ—à–Ω—ñ—Ö, –≤–µ—á—ñ—Ä–Ω—ñ—Ö –∞–±–æ –æ–±—ñ–¥–Ω—ñ—Ö.

In [70]:
def get_hour(x):
    x = x.split(':')
    x = [int(i) for i in x] 
    for time in x:
        if time < 13:
            return 'Morning'
        elif time > 17:
            return 'Evening'
        else:
            return 'Midday'

In [71]:
df['Hour'] = df['Time'].apply(get_hour)
df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,Midday
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,Morning
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,Midday

In [72]:
gip3 = df.pivot_table(index = 'Branch', columns = 'Hour', values = 'Invoice ID', aggfunc = 'count')
gip3

Hour    Evening  Midday  Morning
Branch
A            82     152      106
B           111     137       84
C            88     150       90

In [73]:
gip3.idxmax(axis=1)

Branch
A    Midday
B    Midday
C    Midday
dtype: object

–Ø–∫ –±–∞—á–∏–º–æ –∑ –Ω–∞—à–æ–≥–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É –¥–æ—Å–ª—ñ–¥–∂–µ–Ω–Ω—è, –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ —É –≤—Å—ñ—Ö —Ç—Ä—å–æ—Ö —Ñ—ñ–ª—ñ–∞–ª–∞—Ö –≤—ñ–¥–±—É–≤–∞—î—Ç—å—Å—è –≤ –æ–±—ñ–¥–Ω—ñ–π —á–∞—Å.

–ù–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –¥–∞–Ω–Ω–∏—Ö –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –ø—Ä–∏–±—É—Ç–∫—É –º–æ–∂–Ω–∞ –∑–∞–ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –Ω–∞—Å—Ç—É–ø–Ω—É —Å—Ç—Ä–∞—Ç–µ–≥—ñ—é:
1. –ó–∞–ø—É—Å–∫ –∞–∫—Ü—ñ–π –≤ –æ–±—ñ–¥–Ω—ñ–π —á–∞—Å - –æ–±—ñ–¥–Ω—ñ –∑–Ω—ñ–∂–∫–∏, ‚Äú–æ–±—ñ–¥–Ω—ñ–π –∫–æ–º–ø–ª–µ–∫—Ç‚Äù - —Å—Ç–≤–æ—Ä—ñ—Ç—å –Ω–∞–±–æ—Ä–∏ —Ç–æ–≤–∞—Ä—ñ–≤, —è–∫—ñ –±—É–¥—É—Ç—å –ø—Ä–æ–¥–∞–≤–∞—Ç–∏—Å—è –ª–∏—à–µ –ø—ñ–¥ —á–∞—Å –æ–±—ñ–¥—É –∑—ñ –∑–Ω–∏–∂–∫–æ—é.
2. –°—Ñ–æ–∫—É—Å—É–≤–∞—Ç–∏—Å—è –Ω–∞ —à–≤–∏–¥–∫–æ—Å—Ç—ñ —ñ –∑—Ä—É—á–Ω–æ—Å—Ç—ñ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è –≤ —Ü–µ–π —á–∞—Å - —à–≤—ñ–¥–∫—ñ –∫–∞—Å–∏, –∫–∞—Å–∏ —Å–∞–º–æ–æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è, –æ–Ω–ª–∞–π–Ω - –∑–∞–æ–≤–ª–µ–Ω–Ω—è —ñ–∑ —Å–∞–º–æ–≤–∏–≤–æ–∑–æ–º.
3. –ü–æ–∫—Ä–∞—â–µ–Ω–Ω—è –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—É –¥–æ –æ–±—ñ–¥–Ω—å–æ–≥–æ —á–∞—Å—É - –∑–±—ñ–ª—å—à–µ–Ω–Ω—è —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è —à–≤—ñ–¥–∫–æ–≥–æ —Å–ø–æ–∂–∏–≤–∞–Ω–Ω—è(—Å–Ω–µ–∫–∏ —Ç–∞ —à–≤–∏–¥–∫–µ —Ö–∞—Ä—á—É–≤–∞–Ω–Ω—è), —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—Ä–æ–ø–æ–∑—ñ—Ü—ñ–π –Ω–∞ –∫—à—Ç–∞–ª—Ç '—Å–µ–Ω–¥–≤—ñ—á+–Ω–∞–ø—ñ–π' –∑–∞ –∑–Ω—ñ–∂–µ–Ω–æ—é —Ü—ñ–Ω–æ—é —á–∏ '–∑–¥–æ—Ä–æ–≤–∏–π –æ–±—ñ–¥' –¥–ª—è —Ç–∏—Ö, —Ö—Ç–æ —Ö–æ—á–µ —à–≤–∏–¥–∫–æ —Ç–∞ —Å–º–∞—á–Ω–æ –ø–æ—ó—Å—Ç–∏ –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ—Ä–≤–∏.
4. –ê–ª–µ —Ç–∞–∫–æ–∂ –ø–æ—Ç—Ä—ñ–±–Ω–æ –Ω–∞–ø—Ä–∞–≤–∏—Ç–∏ —Ä–µ—Å—É—Ä—Å–∏ –Ω–∞ –≤—Ä–∞–Ω—ñ—à–Ω—ñ —Ç–∞ –≤–µ—á—ñ—Ä–Ω—ñ –≥–æ–¥–∏–Ω–∏ –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –ø—Ä–æ–¥–∞–∂—ñ–≤ —ñ —Ç–æ–¥—ñ - –Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –∞–∫—Ü—ñ—è –∫–æ–∂–Ω–æ–≥–æ –ø–æ–Ω–µ–¥—ñ–ª–∫—É –¥–æ 12 –≥–æ–¥–∏–Ω –∑–Ω–∏–∂–∫–∞ 5 %, –∞–±–æ —â–æ –≤–µ—á—ñ—Ä–Ω—è –∞–∫—Ü—ñ—è –∑ 19 –≥–æ–¥–∏–Ω –Ω–∞ –≤—Å—é –∫—É–ª—ñ–Ω–∞—Ä—ñ—é —Ç–∞ –≤–∏–ø—ñ—á–∫—É ‚Äì –º—ñ–Ω—É—Å 30%.