#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

# Данні до проекту можна знайти за посиланням
https://drive.google.com/file/d/1u3NhwDwd9VO7esPpatbTlrHNwwQlSrCC/view

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [2]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [12]:
df.groupby('Branch')['gross income'].sum().sort_values(ascending=False).head(1)

Branch
C    5265.1765
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

Спочатку подивимося в якому ж місті філіал з найвищим прибутком (це можемо зробити дваома способами):

In [13]:
index = df.groupby('Branch')['gross income'].sum().sort_values(ascending=False).idxmax()

In [14]:
df[df['Branch'] == index].groupby('City')['gross income'].sum()

City
Naypyitaw    5265.1765
Name: gross income, dtype: float64

In [15]:
df.groupby(['City', 'Branch'])['gross income'].sum().sort_values(ascending=False).head(1)

City       Branch
Naypyitaw  C         5265.1765
Name: gross income, dtype: float64

Тепер подивимося процентний розподіл доходу по всім містам

In [16]:
df.groupby('City')['gross income'].sum().div(df['gross income'].sum()).sort_values(ascending=False)

City
Naypyitaw    0.342353
Yangon       0.328828
Mandalay     0.328819
Name: gross income, dtype: float64

In [ ]:
Та кількість покупок по кожному з міст:

In [19]:
df.groupby('City')['Invoice ID'].count().sort_values()

City
Naypyitaw    328
Mandalay     332
Yangon       340
Name: Invoice ID, dtype: int64

Як бачимо немає велікої різниці між доходом чи кількістю покупок по всіх містах і намеє сенсу відкривати ще один філіал в місті Naypyitaw.

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [22]:
invoices_by_category = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'Invoice ID', aggfunc = 'count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [27]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

1. Гіпотеза 1: Визначимо найприбутковіші напрями по кожному з міст, щоб зрозуміти яка категорія приносить найбільшій прибуток.

In [35]:
gip1 = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'gross income', aggfunc = 'sum')
gip1

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,872.2435,777.7385,817.2905,599.893,1067.4855,922.5095
B,811.9735,781.5865,724.5185,951.460,835.6745,951.8190
C,903.2845,1026.6700,1131.7550,791.206,661.6930,750.5680

In [37]:
gip1.idxmax(axis = 1)

Branch
A    Home and lifestyle
B     Sports and travel
C    Food and beverages
dtype: object

На основі цих данних для збільшення прибутку можна запропонувати наступну стратегію:
1. Організуваті акції на товари з найбільш прибуткові категорії - знижки на товари, подарунки за покупку чи бонуси за обсяг купіві. Метою цього є привернути увагу до популярних категорій, залучити клієнтів до покупок, створивши додатковий попит. Покупці, які прийдуть за акційними товарами, ймовірно, купуватимуть і продукцію інших категорій, збільшуючи загальний обсяг продажів.
2. В той же час для категорій із меншою маржинальною прибутковістю пропоную наступне :
    - впровадження окремої маркетингової стратегії,
    - підвищення якості товарів та/або розштрення асортименту,
    - вигідні комплекти (товари з низькою маржинальністю у поєднанні з топовими товарами по прибутку),
    - створення контенту, який підвищує їхню популярність (відео, огляди, соціальні мережі)

Гіпотеза 2: Розглянемо по філіалах клієнти якої статі приносять більший маржинальній прибуток.

In [43]:
gip2 = df.pivot_table(index = 'Branch', columns = 'Gender', values = 'gross income', aggfunc = 'mean')
gip2

Gender     Female       Male
Branch
A       15.755447  14.081193
B       15.557994  14.921394
C       16.502264  15.518490

In [44]:
gip2.idxmax(axis=1)

Branch
A    Female
B    Female
C    Female
dtype: object

На основі цих данних для збільшення прибутку можна запропонувати наступну стратегію:
1. Зосередження на певних маркетингових кампаніях для жінок - акції та знижки на цікаві жінкам категорії товарів, крос - продажі(пропонувати товари зі схожими характеристиками або у відповідних категоріях), персоналізовані пропозиції на основі історіґ покупок та вподобань.
2. Оптімізація асортіменту товарів для жінок та його розширення, з акцентом на більш маржінальні категорії.
3. Покращення сервісу для жінок - надання зручних умов для шопінгу, таких як безкоштовна доставка, зручні способи оплати, можливість повернення товару.
4. Збільшення маржінального прібутку від чоловічої аудіторії:
   - Фокусуватися на інтересах чоловіків та створювати персоналізовані маркетингові кампанії.
   - Покращити досвід покупок для чоловіків, організовуючи зручні інтер’єри та онлайн-платформи.
   - Розширити асортимент товарів для чоловіків і проводити спеціальні акції для цієї групи.

Гіпотеза 3: Дослідимо, в який час доби, зранку, ввечері чи в обід, клієнти найбільше здійснюють покупок.

Напишемо функцію, що в залежності від часу відносить покупки до вранішніх, вечірніх або обідніх.

In [70]:
def get_hour(x):
    x = x.split(':')
    x = [int(i) for i in x] 
    for time in x:
        if time < 13:
            return 'Morning'
        elif time > 17:
            return 'Evening'
        else:
            return 'Midday'

In [71]:
df['Hour'] = df['Time'].apply(get_hour)
df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,Midday
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,Morning
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,Midday

In [72]:
gip3 = df.pivot_table(index = 'Branch', columns = 'Hour', values = 'Invoice ID', aggfunc = 'count')
gip3

Hour    Evening  Midday  Morning
Branch
A            82     152      106
B           111     137       84
C            88     150       90

In [73]:
gip3.idxmax(axis=1)

Branch
A    Midday
B    Midday
C    Midday
dtype: object

Як бачимо з нашого результату дослідження, найбільше покупок у всіх трьох філіалах відбувається в обідній час.

На основі цих данних для збільшення прибутку можна запропонувати наступну стратегію:
1. Запуск акцій в обідній час - обідні зніжки, “обідній комплект” - створіть набори товарів, які будуть продаватися лише під час обіду зі знижкою.
2. Сфокусуватися на швидкості і зручності обслуговування в цей час - швідкі каси, каси самообслуговування, онлайн - заовлення із самовивозом.
3. Покращення асортименту до обіднього часу - збільшення товарів для швідкого споживання(снеки та швидке харчування), створення пропозіцій на кшталт 'сендвіч+напій' за зніженою ціною чи 'здоровий обід' для тих, хто хоче швидко та смачно поїсти під час перерви.
4. Але також потрібно направити ресурси на вранішні та вечірні години для збільшення продажів і тоді - наприклад, акція кожного понеділку до 12 годин знижка 5 %, або що вечірня акція з 19 годин на всю кулінарію та випічку – мінус 30%.